
@{
    ViewBag.Title = "Prospect Save";
}

<h1>Prospect [[Save]]</h1>

<div class="row">
    <div class="col col-sm-6">
        <div class="form-group">
            <label class="control-label" for="firstName">First Name</label>
            <input class="form-control" id="firstName" name="firstName" type="text">
        </div>
    </div>
    <div class="col col-sm-6">
        Column 2
    </div>
</div>
<div class="row">
    <div class="col col-sm-6">
        <div class="form-group">
            <label class="control-label" for="lastName">Last Name</label>
            <input class="form-control" id="lastName" name="lastName" type="text">
        </div>
    </div>
    <div class="col col-sm-6">
        Column 2
    </div>
</div>
<div class="row">
    <div class="col col-sm-6">
        <div class="form-group">
            <label class="control-label" for="position">Position</label>
            <select class="form-control" id="position" name="position">
                <option value="1">C</option>
                <option value="2">G</option>
                <option value="3">OT</option>
            </select>
        </div>
    </div>
    <div class="col col-sm-6">
        Column 2
    </div>
</div>
<div class="row">
    <div class="col col-sm-6">
        <div class="form-group">
            <label class="control-label" for="college">College</label>
            <select class="form-control" id="college" name="college">
                <option value="1">Notre Dame</option>
                <option value="2">Ohio State</option>
                <option value="3">Oklahoma</option>
            </select>
        </div>
    </div>
    <div class="col col-sm-6">
        Column 2
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>&nbsp;</label>
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;
                    Save
                </button>
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>