@{
    ViewBag.Title = "Prospects";
}

<div class="row">
    <div class="col">
        <h1>Prospects</h1>
        <div class="dataTables_wrapper" style="margin-top: 1em;">
            <table class="dataTable  table  hover  row-border  stripe" id="prospectsTable">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">College</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Birth Year (Age)</th>
                        <th scope="col">Draft Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mike</td>
                        <td>McGlinchey</td>
                        <td>OT</td>
                        <td>Notre Dame</td>
                        <td>6-7</td>
                        <td>291</td>
                        <td>1994 (23-24)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Connor</td>
                        <td>Williams</td>
                        <td>OT</td>
                        <td>Texas</td>
                        <td>6-6</td>
                        <td>288</td>
                        <td>1997 (20-21)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Orlando</td>
                        <td>Brown</td>
                        <td>OT</td>
                        <td>Oklahoma</td>
                        <td>6-8</td>
                        <td>345</td>
                        <td>1996 (21-22)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Jamarco</td>
                        <td>Jones</td>
                        <td>OT</td>
                        <td>Ohio State</td>
                        <td>6-5</td>
                        <td>310</td>
                        <td>1996 (21-22)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Frank</td>
                        <td>Ragnow</td>
                        <td>C</td>
                        <td>Arkansas</td>
                        <td>6-5</td>
                        <td>317</td>
                        <td>1996 (21-22)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Billy</td>
                        <td>Price</td>
                        <td>C</td>
                        <td>Ohio State</td>
                        <td>6-4</td>
                        <td>312</td>
                        <td>1995 (22-23)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Quenton</td>
                        <td>Nelson</td>
                        <td>G</td>
                        <td>Notre Dame</td>
                        <td>6-5</td>
                        <td>330</td>
                        <td>1996 (21-22)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Isaiah</td>
                        <td>Wynn</td>
                        <td>G</td>
                        <td>Georgia</td>
                        <td>6-2</td>
                        <td>302</td>
                        <td>1995 (22-23)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Will</td>
                        <td>Hernandez</td>
                        <td>G</td>
                        <td>UTEP</td>
                        <td>6-3</td>
                        <td>304</td>
                        <td>1995 (22-23)</td>
                        <td>2018</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $("#prospectsTable").DataTable({
            buttons: [
                {
                    extend: "print"
                ,   title: "Prospects"
                ,   customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                    , text: '<span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;Print'
                ,   className: 'btn btn-primary'
                }
            ,   {
                    extend: "print"
                    , title: "Prospects"
                    , customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                    , text: '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add'
                ,   className: 'btn btn-success'
                }
            ]
        ,   dom: '<"top"iBf>'
        ,   language: { search: "Filter:" }
        ,   paging: false
        ,   order: [[1, "asc"]]
        ,   responsive: true
        });
    </script>
}