@* Edit.cshtml *@

@model ProspectManager.ViewModels.ProspectsEditViewModel



@{
    ViewBag.Title = (Model.Prospect.FirstName == null || Model.Prospect.LastName == null)
        ? "Edit Prospect" : $"Edit {Model.Prospect.FirstName} {Model.Prospect.LastName}";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("_prospectForm")