@* _collegeForm.cshtml *@

@model ProspectManager.Models.College

@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    <div class="row">
        <div class="col col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CollegeName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CollegeName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Save
                    </button>
                    <a href="@Url.Action("index")" class="btn btn-warning">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
}