@* _collegeForm.cshtml *@

<div class="row">
    <div class="col col-sm-6">
        <div class="form-group">
            <label class="control-label" for="collegeName">College Name</label>
            <input class="form-control" id="collegeName" name="collegeName" type="text">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>&nbsp;</label>
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;
                    Save
                </button>
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
