@* Edit.cshtml *@

@model ProspectManager.Models.College

@{
    ViewBag.Title = Model.CollegeName == null ? $"Edit {Request.Form["collegeNameStored"]}" : $"Edit {Model.CollegeName}";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("_collegeForm")